@import "attribute.scss";
@import url(“https://fonts.google.com/specimen/Roboto”);

@font-face {
  font-family: Roboto;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: Roboto;
  font-size: 13px;
  width: 100%;
}

.container-fluid {
  > div {
    &:nth-child(3) {
      display: none;
    };

    &:nth-child(5) {
      display: none;
    };

    &:nth-child(7) {
      display: none;
    };

    &:nth-child(9) {
      display: none;
    };

    &:nth-child(11) {
      display: none;
    };

    &:nth-child(14) {
      display: none;
    };

    &:nth-child(16) {
      display: none;
    };
  }
}

.header-only-pc {
  background: {
    image: url("../images/banner.png");
    size: contain;
    repeat: no-repeat;
    position: center center;
  }

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0 -15px;
  height: 873px;
}

.header-top {
  height: 36px;
  padding: 41px 20.3125% 0 0;

  a {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .about-us {
  padding-right: 1.98%;

    a {
      color: $color-br;
    }
  }

  .sign-in {
    a {
      border: solid 2px $color-gr;
      border-radius: 100px;
      padding: 9px 15px;
      color: $color-gr;
    }
  }
}

.logo {
  img {
    margin-top: 218px;
  }
}

.three-icon-hd {
  margin: 48px 30.46% 0 30.46%;
}

.icon-center {
  margin: 0 27.125% 0 28.375%;
}

.one-content-hd {
  i.icon-header {
    font-size: 48px;
  }

  p {
    font-size: 36px;
    font-weight: lighter;
  }
}

.short-text-hd {
  margin-top: 30px;
  p {
    font-size: 18px;
    color: $color_br;
    letter-spacing: -0.03;
    font-style: italic;
  }
}

.event-start-now {
  margin-top: 34px;

  a {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    background-image: $color-grdien;
    border-radius: 100px;
    box-shadow: 1px 1px 2px #888888;
    font-size: 16px;
    letter-spacing: 1.33px;
    padding: 15.3px 44.1px;

    &:after {
      content: '\f105';
      font-family: fontAwesome;
      position: relative;
      left: -20px;
      opacity: 0;
      transition: .2s;
    };

    &:hover:after {
      left: 10px;
      opacity: 1;
    };
  }
}

.title-content {
  color: #444444;

  i.size-icon-title {
    font-size: 36px;
    margin-right: 19px;
  }

  p {
    font-size: 48px;
    font-weight: lighter;
  }
}

.short-text-title {
  p {
    font-size: 0.729vw;
  }
}

.para-content {
  p {
    line-height: 24px;
    font-size: 0.677vw;
    color: $color_br;
  }
}

.content {
  height: 571px;
  padding: 100px 20.3125%;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);

  .image-content {
    img {
      width: 96%;
      height: 371px;
    }
  }
}

.list-ct-slider {
  background-image: $color-grdien;
  margin: 0 -15px;
}

.lists-content {
  padding: 68.5px 20.4%;  
}

.one-content {
  flex-direction: column;

  p {
    margin-top: 12px;
    font-size: 16px;
    letter-spacing: 1.33px;
    margin-bottom: 0;
  }
}

.big-circle {
  height: 107px;
  width: 107px;
  border: solid 2px #ffffff;
  border-radius: 50%;

  i {
    font-size: 36px;
  }
}

.small-circle {
  height: 43px;
  width: 43px;
  background-color: #7cb342;
  border: solid 2px #ffffff;
  border-radius: 50%;
  margin-top: -25px;

  span {
    font-size: 24px;
  }
}

.one-content-member {
  margin-top: 2em;
  i {
    margin-right: 18px;
    font-size: 18px;
    color: $color-gr;
  }

  p {
    text: {
      align: justify;
      overflow: ellipsis;
    }
    font-size: 0.677vw;
    color: $color-br;
    overflow: hidden;
    height: 23px;
    align-items: center;
  }
}

.content-our-customer {
  margin: 0 -15px;

  background: {
    image: url("../images/rectangle3.png");
    cover: cover;
    size: 100% 100%;
    repeat: no-repeat;
  }

  .title-our-customer {
    margin-bottom: 38px;

    p {
      font-size: 48px;
      letter-spacing: -0.09px;
    }
  }

  .detail-our-customer {
    opacity: 40%;
    i {
      font-size: 72px;
    }

    p {
      font-size: 18px;
    }
  }

  .list-our-customer {
    padding: 5px 0;
  
    .one-customer {
      p {
        font-size: 13px;
        margin-top: 16px;
      }

      > img {
        cursor: pointer;
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
}

.footer {
  background-color: #39474e;
  margin: 0 -15px;
  padding: 17px 11.3125%;

  > div:nth-child(1) {
    > p {
      color: #ffffff;
      font-size: 10px;
    }
  };

  .al-content-footer {
    img {
      height: 29px;
      width: 96px;
      margin-bottom: 36px;
    }

    p {
      color: $color-gr;
      letter-spacing: -0.03px;
    }

    a {
      font-size: 10px;
      color: #ffffff;
      text-decoration: none;
    }

    .brand-icon {
      margin-top: 55px;

      i {
        color: $color-gr;
        padding-left: 19px;
        font-size: 13px;
      }
    }
  }
}

.carousel-indicators {
  li {
    margin: 0 8px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: unset;
    border: 1px solid rgb(151, 151, 151);
  }

  .active {
    background-color: #ffffff;
  }
}

.of-content {
  li {
    border: 1px solid #ffffff;
  }
}
